<div class="main-content">
    <div class="container-fluid">
        <form (ngSubmit)="getData(null)">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="query" matInput name="query" placeholder="Search by name/email" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger" mat-raised-button type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Maids</h4>
                        <p class="card-category">Here is the info of all maids</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Literacy
                                    </th>
                                    <th>
                                        Salary(per hour)
                                    </th>
                                    <th>
                                        Jobs
                                    </th>
                                    <th>
                                        Areas
                                    </th>
                                    <th>
                                        Exp
                                    </th>
                                    <th>
                                        Intro
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let maid of maids; let i = index;">
                                        <td>
                                            {{maid.user ? maid.user.name : '--'}}
                                        </td>
                                        <td>
                                            {{getLiteracy(maid.literacyType)}}
                                        </td>
                                        <td>
                                            {{maid.salary | currency: 'VND'}}
                                        </td>
                                        <td>
                                            {{getJobs(maid.jobTypes)}}
                                        </td>
                                        <td>
                                            {{getSupportArea(maid.supportAreas)}}
                                        </td>
                                        <td>
                                            {{maid.exp}}
                                        </td>
                                        <td>
                                            {{maid.intro}}
                                        </td>
                                        <td>
                                            {{maid.active ? 'True' : 'False'}}
                                        </td>
                                        <td>
                                            <button [matMenuTriggerFor]="menu" mat-button>
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button *ngIf="!maid.active" (click)="activeMaid(maid._id, i)"
                                                    mat-menu-item>Active</button>
                                                <button *ngIf="maid.active" (click)="deactiveMaid(maid._id, i)"
                                                    mat-menu-item>Deactive</button>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator (page)="pageEvent = getData($event)" [length]="total" [pageSize]="pageSize">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>