<div class="main-content">
    <div class="container-fluid">
        <form (ngSubmit)="getData(null)">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="query" matInput name="query" placeholder="Search by name/email" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger pull-right" mat-raised-button type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Users</h4>
                        <p class="card-category">Here is the info of all users</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Birthday
                                    </th>
                                    <th>
                                        PhoneNumber
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let user of users; let i = index;">
                                        <td>
                                            {{user.name ? user.name : '--'}}
                                        </td>
                                        <td>
                                            {{user.email ? user.email : '--'}}
                                        </td>
                                        <td>
                                            {{user.gender == 1 ? 'Male' : 'Female'}}
                                        </td>
                                        <td>
                                            {{user.birthday ? (user.birthday | date) : '-'}}
                                        </td>
                                    <td>
                                        {{user.phoneNumber ? user.phoneNumber : '--'}}
                                        </td>
                                    <td>
                                        {{user.address ? user.address : '--'}}
                                    </td>
                                    <td>
                                        {{user.isActive ? 'Yes' : 'No'}}
                                    </td>
                                    <td>
                                        <button [matMenuTriggerFor]="menu" mat-button>
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu="matMenu">
                                            <button *ngIf="!user.isActive" (click)="activeUser(user._id, i)" mat-menu-item>Active</button>
                                            <button *ngIf="user.isActive" (click)="deactiveUser(user._id, i)" mat-menu-item>Deactive</button>
                                        </mat-menu>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator (page)="pageEvent = getData($event)"
                                           [length]="total"
                                           [pageSize]="pageSize">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
