<div class="main-content">
    <div class="container-fluid">
        <!-- <form (ngSubmit)="getUser(null)">
            <div class="row">

                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input [(ngModel)]="query" matInput name="query" placeholder="Search by name/email" type="text">
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger pull-right" mat-raised-button type="submit">Search</button>
                </div>
            </div>
        </form> -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Service catergories</h4>
                        <p class="card-category">List of catergories</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Icon
                                    </th>
                                    <th>
                                        Service Name
                                    </th>
                                    <th>
                                        Order
                                    </th>
                                    <th>
                                        Active
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let booking of bookings; let i = index;">
                                        <td>
                                            {{getType(booking.type)}}
                                        </td>
                                        <td>
                                            {{booking.startDate | date: 'dd/MM/yyyy'}} -
                                            {{ booking.endDate ? (booking.endDate | date: 'dd/MM/yyyy') : ''}}
                                        </td>
                                        <td>
                                            {{booking.startTime | date: 'HH:mm'}} - {{ booking.endTime | date: 'HH:mm'}}
                                        </td>
                                        <td>
                                            {{booking.maid.user ? booking.maid.user.name : '--'}}
                                        </td>
                                        <td>
                                            {{booking.createdBy ? booking.createdBy.name : '--'}}
                                        </td>
                                        <td>
                                            {{booking.address ? booking.address : '--'}}
                                        </td>
                                        <td>
                                            {{getStatus(booking.status)}}
                                        </td>
                                        <td>
                                            {{booking.createdAt | date: 'dd/MM/yyyy HH:mm'}}
                                        </td>
                                        <td>
                                            <button [matMenuTriggerFor]="menu" mat-button>
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <!-- <button (click)="openDetailsDialog()" mat-menu-item>Show details</button> -->
                                                <button
                                                    *ngIf="booking.status != 4 && booking.status != 5 && booking.status != 3"
                                                    (click)="cancelBooking(booking._id, i)" mat-menu-item>
                                                    Cancel
                                                </button>
                                            </mat-menu>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator (page)="pageEvent = getUser($event)" [length]="total" [pageSize]="pageSize">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>