<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{id ? 'Edit category' : 'New category'}}</h4>
                        <p class="card-category">Complete your category data</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]='form' (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name(VI)" type="text" formControlName="nameVi" [(ngModel)]='category.nameVi'>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name(EN)" type="text" formControlName="nameEn" [(ngModel)]='category.nameEn'>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Order" type="number" formControlName="order" [(ngModel)]='category.order'>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <mat-slide-toggle formControlName="isActive" [(ngModel)]='category.isActive'>Active</mat-slide-toggle>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="icon">Icon</label> 
                                    <br>
                                    <div class="form-group" *ngIf='category.icon' >
                                        <img class='category-icon' [src]="env.imageHost + category.icon">
                                    </div>
                                    <label class="file-upload-label" for="icon">
                                        <input id='icon' type='file' (change)="handleFileSelect($event)">
                                        CHOOSE FILE
                                    </label>
                                </div>
                            </div>
                            <button [disabled]='loading' mat-raised-button type="submit" class="btn btn-danger pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  