<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Forgot password</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]='form' (ngSubmit) = "onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName='email'>
                    <mat-hint class="error-message"
                        *ngIf='form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)'>
                        <div *ngIf='form.controls.email.errors.required'>
                            Email is required.
                        </div>
                        <div *ngIf='form.controls.email.errors.email'>
                            Invalid email format
                        </div>
                    </mat-hint>
                </mat-form-field>

            </mat-card-content>
            <button mat-flat-button color="primary" class="btn-block">Send reset password link</button>
        </form>
    </mat-card>

</div>