<div class="main-content">
  <div class="container-fluid">
    <form (ngSubmit)="getData()">
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="TID"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="tid"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(value)]="type">
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let cat of categories" [value]="cat._id">{{
                cat.nameEn
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(value)]="status">
              <mat-option value="">All</mat-option>
              <mat-option value="1">Waiting for payment</mat-option>
              <mat-option value="2">Paid</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger" mat-raised-button type="submit">
            Search
          </button>
        </div>
      </div>
    </form>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Transactions</h4>
            <p class="card-category">List of transactions</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    TID
                  </th>
                  <th>
                    Service type
                  </th>
                  <th>
                    Total
                  </th>
                  <th>
                    Helper
                  </th>
                  <th>
                    Customer
                  </th>
                  <th>
                    Time
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let transaction of transactions; let i = index">
                    <td>
                      {{ transaction._id }}
                    </td>
                    <td>
                      {{
                        transaction.category
                          ? transaction.category.nameEn
                          : "No data"
                      }}
                    </td>
                    <td>
                      {{ transaction.amount | currency: "VND" }}
                    </td>
                    <td>
                      {{ transaction.maid ? transaction.maid.user.name : "--" }}
                    </td>
                    <td>
                      {{ transaction.user ? transaction.user.name : "--" }}
                    </td>
                    <td>
                      {{ transaction.createdAt | date: "dd/MM/yyyy HH:mm" }}
                    </td>
                    <td>
                      {{ transaction.status == 1 ? "Unpaid" : "Paid" }}
                    </td>
                    <td>
                      <button [matMenuTriggerFor]="menu" mat-button>
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button
                          *ngIf="transaction.status == 1"
                          (click)="markAsPaid(transaction._id, i)"
                          mat-menu-item
                        >
                          Mark as paid
                        </button>
                        <button (click)="(null)" mat-menu-item>
                          Show helper info
                        </button>
                        <button (click)="(null)" mat-menu-item>
                          Show customer info
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator
                (page)="pageEvent = getData($event)"
                [length]="total"
                [pageSize]="pageSize"
              >
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
